* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    color: #fff;
    line-height: 1.6;
    height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}


section > div {
    overflow: hidden;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


section h2 {
    font-size: 4rem;
}

section p {
    font-size: 1.5rem;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #f4f4f4;
}

a:hover {
    color: skyblue;
}

h2 {
    color: #f4f4f4;
}

img {
    max-width: 100%;
}

hr {
    width: 80%;
}

/* Class Selector*/

.container {
    width:100%;
    height: 100%;
}

.articlecontainer {
    height: 80%;
    width: 50%;
}

.articlecontainer p {
    align-self: center;
    margin: 13px;
}

.imgcontainer {
    height: 80%;
    width: 35%;
    overflow: hidden;
}

.subimgcontainer {
    height: 45%;
    overflow: hidden;
}

.imgcontainer > img, .subimgcontainer > img {
    object-fit: cover
}

.btn {
    padding: 0.7rem 1.5rem;
    border: 2px solid #f4f4f4;
}



/* Navbar part*/
.navbar {
    position: fixed;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
}

.navbar ul li a:hover {
    color: skyblue;
}



/* Home part */

section#home {
    background: url('http://r.photo.store.qq.com/psc?/V13mdl0c1ilKRz/3pY6KhS62k*1Vm7UATlxq6egqzh4f935wdmTHpxwWn0OLffTruB7BLdwqAFG2JxeFHUj9w20ax06KoqMas3dNz.8d9y8uXIYMN7jNKK47*0!/r') no-repeat center center/cover;
    align-items: flex-start;
    justify-content: flex-end;
}

section#home > div {
    width: 50%;
    height: 45%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

section#home a {
    margin: 1.5rem;
    display: inline;
    opacity: 0;

}

section#home h2 {
    opacity: 0;
    position: relative;
}

.welcomeAnimationQuick {
    animation-name: welcome;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.welcomeAnimationSlow {
    animation-name: welcome;
    animation-delay: 4s;
    animation-duration: 3s;
    animation-fill-mode: forwards;

}

@keyframes welcome {
    0% {opacity: 0;}
    100% {opacity: 1;}
}



/* About Part*/

section#about, section#gallery {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

section#about .articlecontainer p {
    text-align: center;
}

section#about hr {
    margin-bottom: 30px;
}



/* Gallery Part*/

section#gallery .imgcontainer {
    position: relative;
    border: 4px solid rgb(202, 202, 202);
}

section#gallery .imgcontainer p {
    position: absolute;
    font-size: 1rem;
    line-height: 1;
    bottom: 10px;
    right: 10px;
}

section#gallery a.btn {
    margin-top: 40px;
}


/* Contact Part */

section#contact hr {
    margin-bottom: 40px;
}


.brandcontainer {
    display: block;
    line-height: 1;
    padding-top: 20px;
}

.brand {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 15px;
}

.brand:hover {
    bottom: 5px;
}